

body {
	margin: 0;
	padding: 0;
	background: #6e7187 url(image.jpg) repeat;
	height: 100%; 
	background-size: 150% 150%;
	/*background-attachment: fixed;*/
	background-position: center;
	background-repeat: repeat;
	font-family: 'Abril Fatface', cursive;
	font-size: 14px;
	color: #000;
	animation: shrink 30s linear infinite alternate;
	
}

@keyframes shrink {
  0% {
    background-size: 150% 150%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.adilresumetitle {
	position: relative;
	font-variant: small-caps;
	font-size: 60px;
	color: #316ccc;
}
strong {
	color: #385124;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-weight: normal;
	color: #000;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2em;
	font-weight: bold;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}


a {
	text-decoration: none;
	color: #fff;
	
}

a:hover {
	text-decoration: none;
}

b {
	font-family: 'Abel', sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-decoration: bold;
	text-transform: uppercase;
	color: #000;
}


c {
	font-family: 'Abel', sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-decoration: bold;
	text-transform: uppercase;
	color: #000;
}

cent {
	font-family: 'Abel', sans-serif;
	font-weight: bold;
	font-size: 22px;
	text-decoration: bold;
	text-transform: uppercase;
	font-alignment: center;
	color: #000;
}


r {
	font-weight: bold;
	font-size: 18px;
	text-decoration: bold;
	color: #e50417;
}

np {
	font-family: 'Abel', sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #000;
}

li {
	font-weight: bold;
	font-size: 13px;
	text-decoration: bold;
	text-transform: uppercase;
	color: #000
}


#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.5s;
    padding: 18px;
    width: 180px;
    text-decoration: none;
    outline: 6px ridge white;
    font-size: 18px;
    text-align: right;
    color: white;
    border-radius: 0 0 0 0;
}

#mySidenav a:hover {
    left: 0;
	outline: 8px ridge white;
	font-size: 20px;
}


#HOME {
    top: 5px;
    background-color: #4CAF50;
	font-size: 12px;
	font-weight: bold;
}

#Instagram {
    top: 55px;
    background-color: #f44336;
	font-size: 12px;
	font-weight: bold;
}

#Facebook {
    top: 105px;
	background-color: #003366;
	font-size: 12px;
	font-weight: bold;
}

#Email {
    top: 155px;
    background-color: #cc6600;
	font-size: 12px;
	font-weight: bold;
}

#Twitter {
	top:205px;
	background-color: #01afb2;
	font-size: 12px;
	font-weight: bold;
}

#Github {
	top:255px;
	background-color: gray;
	font-size: 12px;
	font-weight: bold;	
}


